:root {
	--datacache-primary-text-normal-color: var(--primary-text-normal-color);
	--datacache-primary-background-color: var(--primary-background-color);
	--datacache-primary-branding-color: var(--primary-branding-color);
	--datacache-primary-branding-border-color: var(--primary-branding-border-color);
	--datacache-error-text-color: #FF3B30;
}